﻿

<br />
<br />
<br />
<h3> Claim tracking</h3>
<br />
<p>Please fill in the claim's details below:</p>
<br />
<div class="row">
    <div class="col-sm-4 labels">
        Claim number:
    </div>
    <div class="col-sm-4">
        <input id="ClaimNumber" class="w3-animate-input" placeholder="Claim number" />
    </div>
    <div class="col-sm-4">
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        <br />
        <a href="#" onclick="openPage('landing')" class="w3-btn w3-red">Cancel</a>
        <a href="#" onclick="requestClaimInfor()" class="w3-btn w3-black">Submit</a>
    </div>
    <div class="col-sm-4">
    </div>
</div>
<br/>
