﻿

<br />
<br />
<br />
<h3> Claim tracking results</h3>

<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        <br />
           <p id="claimdetail"></p>
    </div>
    <div class="col-sm-4">
    </div>
</div>

<br/>
<br/>

<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        <br />
        <a href="#" onclick="openPage('landing')" class="w3-btn w3-red">Cancel</a>
        <a href="#" onclick="openPage('claimtrack')" class="w3-btn w3-black">Try New claim</a>
    </div>
    <div class="col-sm-4">
    </div>
</div>
<br/>
<br/>
