﻿<br />
<br />
<h3>Quote for Single items</h3>

<br/>
<p>Please fill in the item's details below:</p>

<br />
<div class="row">
    <div class="col-sm-4 labels">
        Item category:
    </div>
    <div class="col-sm-4">
        <select id="ItemCategory" style="width:80%" >
            <option value="">Please select item category </option>
            <option value="AAA">General all risk and other </option>
            <option value="AAT">Pedal Cycles</option>
            <option value="AAY">Contact Lenses / Spectacles</option>
            <option value="ABC">Jewellery</option>
            <option value="ABE">Cellular Phones / Pager / Car Phones </option>
            <option value="ABJ">Photographic / Video equipment</option>
            <option value="ADD">Drones</option>TypeCode" class="w3-animate-input" placeholder="Item description" />
        </select>
    </div>
    <div class="col-sm-4">
    </div>
</div>

<br />
<div class="row">
    <div class="col-sm-4 labels">
        Sum Insured:
    </div>
    <div class="col-sm-4">
        <input id="SumInsuredItem" class="w3-animate-input" placeholder="Sum Insured" />
    </div>
    <div class="col-sm-4">
    </div>
</div>
<br />


<div class="row">
    <div class="col-sm-4 labels">
    </div>
    <div class="col-sm-4">
        <br />
        <a href="#" onclick="openPage('landing')" class="w3-btn w3-red">Cancel</a>
        <a href="#" onclick="saveQuote('Personal-belongings')" class="w3-btn w3-black">Done</a>
    </div>
    <div class="col-sm-4">
    </div>
</div>
