﻿
<br/>
<br/>
<h3>Quote type</h3>

<p>Please select the type you like:</p>
<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        <br />
        <br />
        <button class="w3-button w3-block w3-black" onclick="openPage('quotevehicle'); hideVehicleFields();">Vehicle</button>
        <br />
        <button class="w3-button w3-block w3-black" onclick="openPage('quotecontent')">Contents</button>
        <br />
        <button class="w3-button w3-block w3-black" onclick="openPage('quoteitem')">Personal belongings</button>
        <br />
        <button class="w3-button w3-block w3-black">Home and Contents</button>
        <br />
        <button class="w3-button w3-block w3-black">Home</button>
        <br />
        <button class="w3-button w3-block w3-red" onclick="openPage('landing')">Cancel</button>
        <br />
    </div>
    <div class="col-sm-4">
    </div>
</div>


<br />
