﻿

<br />
<br />
<br />
<h3>Vehicle Quote</h3>
<br />
<p>Please fill in the vehicle's details below:</p>
<br />

<div class="row">
    <div class="col-sm-4 labels">
        Registration number:
    </div>
    <div class="col-sm-4">
        <input id="VehicleRegNumber" class="w3-animate-input" placeholder="Registration number" />
        <br/><br/>
        <a href="#" id="motorSeatchButton" onclick="getVehicleData()" class="w3-btn w3-black">Search vehicle</a>
    </div>
    <div class="col-sm-4">
    </div>
</div>

<br />

<div id="motorFields">
    <div class="row">
        <div class="col-sm-4 labels">
            Vehicle Status:
        </div>
        <div class="col-sm-4">
            <select id="VehicleStatus" style="width:80%">
                <option value="">Please selet vehicle Status </option>
                <option value="1">New </option>
                <option value="2">Second - hand</option>
                <option value="3">Built up/ Code 3</option>
                <option value="4">SAPVIN</option>
            </select>

        </div>
        <div class="col-sm-4">
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-sm-4 labels">
            License Code:
        </div>
        <div class="col-sm-4">
            <select id="LicenseCode" style="width:80%">
                <option value="">Please selet license code: </option>
                <option value="B">LICENSE_CODE B</option>
                <option value="BE">LICENSE_CODE BE</option>
                <option value="C">LICENSE_CODE C</option>
                <option value="C1">LICENSE_CODE C1</option>
                <option value="C1E">LICENSE_CODE C1E</option>
                <option value="CE">LICENSE_CODE CE</option>
                <option value="EB">LICENSE_CODE EB</option>
                <option value="EC">LICENSE_CODE EC</option>
                <option value="EC1">LICENSE_CODE EC1</option>
                <option value="IL">International Licence</option>
            </select>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-sm-4 labels">
            License Year:
        </div>
        <div class="col-sm-4">
            <input id="LicenseYear" class="w3-animate-input" placeholder="License Year" />
        </div>
        <div class="col-sm-4">
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-sm-4 labels">
            How many contents related claims have you had in the last 5 years?
        </div>
        <div class="col-sm-4">
            <input id="NumberOfClaimsMotor" class="w3-animate-input" placeholder="How many contents related claims have you had in the last 5 years?" />
        </div>
        <div class="col-sm-4">
        </div>
    </div>

    <br/>
    <div class="row">
        <div class="col-sm-4 labels">
            Cover type:
        </div>
        <div class="col-sm-4">
            <select id="CoverTypeMotor" style="width:80%">
                <option value="">Please selet cover type </option>
                <option value="COMP">Comprehensive</option>
                <option value="TPFT">Third Party Fire and Theft</option>
                <option value="TPO">Third Party only</option>
            </select>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
    <br />
</div>
<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        <br />
        <a href="#" onclick="openPage('landing')" class="w3-btn w3-red">Cancel</a>
        <a href="#" id="motorDoneButton" onclick="saveQuote('Motor')" class="w3-btn w3-black">Done</a>
    </div>
    <div class="col-sm-4">
    </div>
</div>
