﻿<br />
<br />
<h3>Quote for content</h3>

<br />
<p>Please fill in the content's details below:</p>

<br />
<div class="row">
    <div class="col-sm-4 labels">
        Sum Insured:
    </div>
    <div class="col-sm-4">
        <input id="SumInsuredContent" class="w3-animate-input" placeholder="Sum Insured" />
    </div>
    <div class="col-sm-4">
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-4 labels">
        How many contents related claims have you had in the last 5 years?
    </div>
    <div class="col-sm-4">
        <input id="NumberOfClaimsContents" class="w3-animate-input" placeholder=" How many contents related claims have you had in the last 5 years?" />
    </div>
    <div class="col-sm-4">
    </div>
</div>

<br />



<div class="row">
    <div class="col-sm-4 labels">
    </div>
    <div class="col-sm-4">
        <br />
        <a href="#" onclick="openPage('landing')" class="w3-btn w3-red">Cancel</a>
        <a href="#" onclick="saveQuote('Content')" class="w3-btn w3-black">Done</a>
    </div>
    <div class="col-sm-4">
    </div>
</div>
