﻿
<br />
<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        <br />
        <p id="helloLabel" class="w3-left-align"></p>
        <br />
        <br />
        <button class="w3-button w3-block w3-black" onclick="openPage('quotetype')">Get Quote</button>
        <br />
        <button class="w3-button w3-block w3-black" onclick="openPage('preinspection')">Pre Inspection</button>
        <br />
        <button class="w3-button w3-block w3-black" onclick="openPage('claimtrack')">Track Claim</button>
        <br />
        <button class="w3-button w3-block w3-black">Register Claim</button>
    </div>
    <div class="col-sm-4">
    </div>
</div>