﻿

<br />
<br />
<br />
<h3> Pre inspection</h3>
<br />
<p>Please complete a pre inspection by taking a video if your vehicle</p>
<br />
<div class="row">
    <div class="col-sm-4 labels">
       
    </div>
    <div class="col-sm-4">
        <div id="video"></div>
        <br />
        <button class="w3-button w3-block w3-black" onclick="initializeQuote()">Take a video</button>
        <br />
        <button class="w3-button w3-block w3-black">Upload the Video</button>
    </div>
    <div class="col-sm-4">
    </div>
</div>
<br/>
<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        <br />
        <a href="#" onclick="openPage('landing')" class="w3-btn w3-red">Cancel</a>
        <a href="#" onclick="" class="w3-btn w3-black">Submit</a>
    </div>
    <div class="col-sm-4">
    </div>
</div>
<br/>
