﻿

<div class="w3-panel w3-black" id="signup">
    <h3>Sign Up</h3>
</div>
<br />
<div class="row">
    <div class="col-sm-4 labels">
        Initials:
    </div>
    <div class="col-sm-4">
        <input id="initials" class="w3-animate-input" placeholder="Initials" />
    </div>
    <div class="col-sm-4">
    </div>
</div>

<br />

<div class="row">
    <div class="col-sm-4 labels">
        Surname:
    </div>
    <div class="col-sm-4">
        <input id="surname" class="w3-animate-input" placeholder="Surname" />
    </div>
    <div class="col-sm-4">
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-4 labels">
        Id Number:
    </div>
    <div class="col-sm-4">
        <input id="idNum" class="w3-animate-input" placeholder="Id Number" />
    </div>
    <div class="col-sm-4">
    </div>
</div>

<div class="row">
    <div class="col-sm-4 labels">
    </div>
    <div class="col-sm-4">
        <br /><a href="#" onclick="getUserData()" class="w3-btn w3-black">Continue</a>
    </div>
    <div class="col-sm-4">
    </div>
</div>

<br />