﻿body {   
}
#header {
    position:fixed;
    left:0;
    top:0;
    width:100%;
    text-align:center;
}

#register {
    margin-top: 200px;
}

#signup {
    background-color: #aaa;
    color:#fff;
}

input {
    width: 80%
}

.page, #messageCard {
    display: none;
}

#messageCard {
    position: absolute;
    left:0;
    width:100%;
    text-align:center;
}


    @media screen and (max-width:480px) {
        .labels {
        display:none;
    }

}



ul.progress-bar-dots {
    height: 200px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

    ul.progress-bar-dots::after {
        content: "";
        position: absolute;
        top: 0;
        left: 5px;
        background: #999;
        width: 5px;
        height: 100vh;
    }

    ul.progress-bar-dots li {
        background: #000;
        border-radius: 100px;
        width: 15px;
        height: 25px;
        z-index: 1;
        position: relative;
    }

        ul.progress-bar-dots li.stop ~ li {
            background: #777;
        }

            ul.progress-bar-dots li.stop ~ li::after {
                height: 0;
            }

        ul.progress-bar-dots li::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 5px;
            background: #000;
            width: 5px;
            height: 100vh;
        }
        ul.progress-bar-dots li pre {
            position: absolute;
            margin-left: 20px;
        }

            ul.progress-bar-dots li pre sub {
                
                position:relative;
            }
